@tailwind base;
@tailwind components;
@tailwind utilities;

@layer layer{
  html{
    @apply bg-primary_bg;
    color-scheme: dark;
  }
}

@layer utilities {
  .primaryText{
    background: linear-gradient(130deg, #0377c9 0%, #04bf9f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}